body{
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif" !important;
    padding-top:50px;
}
.navbar-default {
    background-color: #45b5f2;
    border-color: #2687bb;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2687bb;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #2687bb;
  }
  .navbar-default .navbar-toggle {
    border-color: #2687bb;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #2687bb;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #2687bb;
    }
  }
.deserve_event li{
    list-style: none;
    padding: 5px 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.deserve_event li a{
    font-size: 14px;
    color: #333;
}
.deserve_event li:hover span{
    border-left: 7px solid #1373DA;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 7px solid #d9d9d9;
    display: inline-block;
    border-bottom: 6px solid transparent;
    margin-right: 3px;
}
#hot_tags{
    padding: 15px 0 5px 16px;
}
#hot_tags span{
    display: inline-block;
    padding: 1px 8px;
    border:1px solid #d9d9d9;
    color: #666;
    border-radius: 12px;
    margin-right: 14px;
    margin-bottom: 10px;
    transition: all .2s linear;
}
#hot_tags span a{
    color: #333;
    transition: all .2s linear;
    font-size: 13px;
}
#hot_tags span:hover{
    border-color: #1373DA;
}
#hot_tags span a:hover{
    color: #1373DA;
}
.condition{
    width: 100%;
    background: #fff;
    padding: 15px 15px 0 !important;
    /*border-radius: 5px;*/
    color: #333;
    position: absolute;
    left:0;
    top:0;
}
.condition ul{padding: 0;margin: 0}
.condition li{
    list-style: none;
    float: left;
    width: 95%;
    margin-bottom: 10px;
    height: 25px;
    overflow: hidden;
    position: relative;
    transition: all .3s linear;
}
.m_caret{
    position: absolute;
    right: -15px;
    top: 1px;
    font-size: 12px;
}
.condition .first_li{
    width: 5%;
    color: #333;
    /*font-weight: bold;*/
}
.condition li a{
    color: #666;
    display: inline-block;
    padding: 0px 15px;
    margin-bottom: 10px;
}
.condition li a:hover{
    color: #3B99F0;
}
.condition li a.select{
    color: #3B99F0;
}
.eventList{padding: 10px!important;*width: 31%;width: 33.33%\0;float: left;*padding: 10px 0!important;*margin:0 10px}
.eventList a img{
    *max-width: 100% !important;
}
.eventList .list-group-item{
    background: #fff;
    width: 100%;
    padding-bottom: 10px;
    /*border:1px solid red;*/
    transform: scale(1);
    transition: all .3s linear;
}
.list-group-item:hover{
    transform: scale(1.02);
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.21);
}
.list-group-item a:hover{
    color: #3B99F0;
}
.list-group-item h3{
    font-size: 16px;
    padding: 0 10px;
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    *width: 90%;
    font-weight: normal;
}
.list-group-item h3 a{
    color: #000;
    transition: all .3s linear;
}
.list-group-item p{
    padding: 0 10px;
    margin:0;
}
.meeting_tag{
    height: 22px;
    overflow: hidden;
    color: #999;
    margin-right: 2px;
}

.meeting_tag>p{
    font-size: 14px;
    color: #999 !important;
    margin-right: 2px;
    background: none;
    display: inline-block;
}

.meeting_tag>a{
    font-size: 14px;
    color: #999 !important;
    margin-right: 2px;
    background: none;
    display: inline-block;
}
.address{
    font-size: 12px;
    padding-top: 10px !important;
}
.address a{
    color: #666666;
}
.address .m_iconfont{
    font-size: 14px;
}
.address img{margin-right: 5px}
.pc{
    color: red;
    float: right;
    font-size: 14px;
}

.hot_theme{
    box-shadow: none;
}
.hot_theme p span{
    color: #000;
    padding-left: 8px;
    border-left:6px solid #1373DA;
}
.email_order{
    width: 90%;
    margin: 15px auto;
    position: relative;
}
.email_order input{
    width: 100%;
    *width: 95%;
    height: 40px;
    *height: 30px;
    border:1px solid #989697;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
    padding-top: 7px\0;
    *padding-top: 7px;
}
.email_order button{
    position: absolute;
    right:0;
    top:0;
    height: 40px;
    width: 60px;
    background: #1274D9;
    color: #fff;
    font-size: 16px;
    border:none;
    border-radius: 8px;
    outline: none;
}
.dc_vd{height: 45px;padding: 0!important;position: relative}
.dc_vd a{
    float: left;
    width: 50%;
    height: 45px;
    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.dc_vd .active{
    color: #1475D6;
}
.dc_vd .line{
    position: absolute;
    width: 50%;
    height: 3px;
    background: #1475D6;
    left:0;
    bottom: 0;
    transition: all .2s ease-out;
}
.deserve_event li a:hover{
    color: #1475D6;
    text-decoration: underline !important;
}
.deserve_event li a img{
    margin-right: 5px;
}
.docs,.video{display: none}
ul.active{
    display: block;
}
.new_event li a{
    color: #1475D6;
    text-decoration: underline !important;
}
.hot_theme{
    margin:0 0 20px;
}
.hot_theme p a{
    *float: none;
    *font-size: 14px;
}
.event_left {
    width: 22%;
    float: left;
    padding-left: 20px!important;
    position: relative;
}
.pagination ul .page_active{
    background: #1475D6;
}
.pagination ul li{
    background: #FFF;
    border-radius: 0;
    margin-right: 8px;
}
.pagination ul li a{
    color: #333 !important;
}

#time{
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    opacity: 0;
    height: 32px;
    filter:alpha(opacity=0);     /* IE 8 */
}
.date{font-size: 14px;}
.loading{
    animation: loading .7s infinite linear;
}
@keyframes loading {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}